<!-- header (logo and links) -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="./assets/images/logo.png" alt="beinex">
            </div>
            <div class="col-lg-6 col-sm-12" id="head-links">
                <ul>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Industries</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Training</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- testimonials -->
<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 col-sm-12" id="testhead">
                <p>Testimonials</p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>
