<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="footerlinks">
                    <div class="first">
                        <a href="./index.html"><img src="/assets/images/logo.png" width="122px" height="28px"
                                alt="logo"></a>
                        <a href="#">About Beinex</a>
                        <a href="#">Careers</a>
                        <a href="#">Press Releases</a>
                        <a href="#">Beinex in the News</a>
                    </div>
                    <!-- second -->
                    <div class="second">
                        <p>Our Services</p>
                        <div id="second-first">
                            <a href="#">Advanced Analytics</a>
                            <a href="#">AI /ML/RPA</a>
                            <a href="#">Alteryx APA</a>
                            <a href="#">Audit Analytics</a>
                            <a href="#">Beinex Digital</a>
                            <a href="#">Business Intelligence</a>
                        </div>
                    </div>
                    <div id="second-sec">
                        <a href="#">Competitive Intelligence</a>
                        <a href="#">Modern Cloud Analytics</a>
                        <a href="#">Risk Analytics</a>
                        <a href="#">Tableau</a>
                        <a href="#">Tableau Support Services</a>
                    </div>
                    <!-- third -->
                    <div class="industries">
                        <p>Our Industries</p>
                        <a href="#">Finance</a>
                        <a href="#">Human Resources</a>
                        <a href="#">Procurement</a>
                        <a href="#">Sales</a>
                    </div>
                    <!-- fourth -->
                    <div class="partners">
                        <div id="sec-first">
                            <p>Our Partners</p>
                        <a href="#">Tableau</a>
                        <a href="#">Alteryx</a>
                        <a href="#">AURAA</a>
                        <a href="#">Amazon Web Services</a>
                        </div>
                    </div>

                    <div id="sec-second">
                        <a href="#">Microsoft Azure</a>
                    <a href="#">Snowflake</a>
                    <a href="#">Salesforce</a>
                    <a href="#">Alation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="footersection">
                        <div class="link1">
                            <a href="#">Privacy Policy</a>
                            <a href="#">Terms of Use</a>
                            <a href="#">Cookie Policy</a>
                        </div>
                        <div class="link2">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                        <p>Copyright &#169; 2022 - 23 Beinex</p>
                    </div>

                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>