<div class="box">
    <div class="container">
        <!-- first box row -->
       
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis
                                tempore commodi veniam laudantium
                                neque aut laborum qui obcaecati! Reiciendis laudantium in velit ratione maxime commodi
                                harum fugit sunt
                                consequatur.</p>
                            <p class="card-name">John Doe</p>
                            <p class="desig">Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis
                                tempore commodi veniam laudantium
                                neque aut laborum qui obcaecati! Reiciendis laudantium in velit ratione maxime commodi
                                harum fugit sunt
                                consequatur.</p>
                            <p class="card-name">Mohmd Azhar</p>
                            <p class="desig">Destination</p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis
                                tempore commodi veniam laudantium
                                neque aut laborum qui obcaecati! Reiciendis laudantium in velit ratione maxime commodi
                                harum fugit sunt
                                consequatur.</p>
                            <p class="card-name">David John</p>
                            <p class="desig">Destination</p>
                        </div>
                    </div>

            </div>
        </div>
        <!-- second box row -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis tempore commodi veniam
                            laudantium
                            neque aut laborum qui obcaecati! Reiciendis laudantium in velit ratione maxime commodi harum fugit sunt
                            consequatur.</p>
                        <p class="card-name">John Doe</p>
                        <p class="desig">Destination</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis
                            tempore commodi veniam laudantium
                            neque aut laborum qui obcaecati! Reiciendis laudantium in velit ratione maxime commodi
                            harum fugit sunt
                            consequatur.</p>
                        <p class="card-name">Mohmd Azhar</p>
                        <p class="desig">Destination</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis tempore commodi veniam
                            laudantium
                            neque aut laborum qui obcaecati! Reiciendis laudantium in velit ratione maxime commodi harum fugit sunt
                            consequatur.</p>
                        <p class="card-name">David John</p>
                        <p class="desig">Destination</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
