<div class="text-video">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" id="text">
               <img src="./assets/images/quotation.jpg" alt="quote">
                <h4>What Are Our Client Saying</h4> <br>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                    diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat.</p>
            </div>
            <div class="col-lg-6" id="video"> 
                <video src="/src/assets/video/demovdo.mp4" controls autoplay muted width="450px"></video>
            </div>
        </div>
    </div>
</div>
